.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form {
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
  }
  
  .submit-btn {
    background-color: #674fcf;
  border: none;
  color: #fff;
  margin-right: 10px;
  text-align: right;
  width: fit-content;
  height: fit-content;
  padding: 10px;
  border-radius: 5px;
  margin-top: 20px;
  }
  
  .submit-btn:hover {
    background-color: #2e216b;
  }
  